* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-size: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(250, 236, 226);
  color: rgb(13, 13, 13, .9);
}

/* Typography */

h1 {
  letter-spacing: .1em;
  font-size: 3.5em;
  font-family: swear-display, serif;
  font-weight: 800;
  font-style: italic;
}

h2 {
  font-size: 2.2em;
  font-family: brother-1816, sans-serif;
  font-weight: 600;
  font-style: normal;
}

h3 {
  font-size: 1.5em;
  font-family: brother-1816, sans-serif;
  font-weight: 500;
  font-style: normal;
}

p {
  font-size: 1.2em;
  font-family: brother-1816, sans-serif;
  font-weight: 200;
  font-style: normal;
}

nav a {
  font-size: 1.5em;
  color: white;
  font-family: brother-1816, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}

/* Header */

header nav {
  background-color: black;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-around;
  top: 0%;
}

header nav a {
  display: inline flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 2em;
}

#logo a img {
  color: white;
  width: 12%;
  position: fixed;
  left: 0%;
  padding: .5em;
}

header a:hover {
  color: #8BD6EF;
}

section {
  width: 100%;
  height: 100vh;
}

/* Section top */

.top {
  width: 100%;
  height: 90vh;
  text-align: center;
  letter-spacing: .1em;
  background-color: #8BD6EF;
  justify-content: center, space-around;
  padding: 15em;
}

.top #subtitle {
  padding-top: 5em;
}

/* photo asset */

.photo {
  height: 90vh;
  background-image: url(../img/speakyourmindStage2.jpg);
  background-size: 100%;
}

/* section one */

.one {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
  text-align: left;
  letter-spacing: .1em;
}

h1 {
  text-align: center;
}

.one #leftside {
  width: 30%;
  padding: 1em;
  background-color: #8bd6ef41;
}

.one #middle {
  width: 30%;
  padding: .5em;
  background-color: #8bd6ef41;
}

.one #rightside {
  width: 30%;
  padding: .5em;
  background-color: #8bd6ef41;
}

/* saturday */

.two {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
  text-align: left;
  letter-spacing: .1em;
}

h1 {
  text-align: center;
}

.two #leftside {
  width: 30%;
  padding: 1em;
  justify-content: space-between;
  background-color: #8bd6ef41;
}

.two #middle {
  width: 30%;
  padding: .5em;
  background-color: #8bd6ef41;
}

.two #rightside {
  width: 30%;
  padding: .5em;
  background-color: #8bd6ef41;
}

/* sunday */

.three {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
  text-align: left;
  letter-spacing: .1em;
}

h1 {
  text-align: center;
}

.three #leftside {
  width: 40%;
  padding: 1em;
  background-color: #8bd6ef41;
}

.three #rightside {
  width: 40%;
  padding: .5em;
  background-color: #8bd6ef41;
}

/* footer */

footer {
  height: 10vh;
  background-color: black;
  color: white;
  padding: .5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer a {
  color: white;
  text-decoration: none;
}

#ig:hover {
  color: rgba(224, 163, 227, 1);
}

#mhc a:hover {
  color: rgba(224, 163, 227, 1);
}

#tickets h3:hover {
  color: rgba(224, 163, 227, 1);
}